@import '../scss-ultils/mixin';
@import '../scss-ultils/variables';

.path {
    margin-bottom: 8rem;

    .path-list {
        @include flex-row-center();
        column-gap: 2.2rem;
        list-style: inside;

        .path-item {
            &:last-child {
                .path-link {
                    &::before {
                        width: 0;
                        height: 0;
                    }
                }
            }

            .path-link {
                color: $clr-black;
                font-size: $font-size-m;
                transition: $transition-fast;
                -webkit-transition: $transition-fast;
                -moz-transition: $transition-fast;
                -ms-transition: $transition-fast;
                -o-transition: $transition-fast;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0.1rem;
                    transform: scale(0);
                    -webkit-transform: scale(0);
                    -moz-transform: scale(0);
                    -ms-transform: scale(0);
                    -o-transform: scale(0);
                    transition: $transition-fast;
                    -webkit-transition: $transition-fast;
                    -moz-transition: $transition-fast;
                    -ms-transition: $transition-fast;
                    -o-transition: $transition-fast;
                    background: $clr-primary-blue;
                }

                &:hover::after {
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                }

                &:hover {
                    color: $clr-primary-blue;
                }

                &:active {
                    @include click();
                }

                &::before {
                    content: '';
                    position: absolute;
                    right: -1.3rem;
                    top: 0.8rem;
                    width: 0.4rem;
                    height: 0.4rem;
                    background: $clr-black;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                }
            }
        }
    }
}

.area {
    margin-bottom: 9.9rem;
    .area__title {
        @include flex-row();
        margin-bottom: $margin-xmedium;
        .area__title-buttons {
            @include flex-row-center();
            column-gap: 2rem;
        }
    }

    .area__grid {
        display: grid;
        grid-template-columns: repeat(3, 43.4rem);
        grid-gap: 2rem;
        
        margin-bottom: 8rem;
        @include respond-to('phone') {
            grid-template-columns: 33.5rem;
            margin-bottom: $margin-xsmall;
        }
    }

    .area__bottom {
        @include flex-row();

        @include respond-to('phone') {
            @include flex-column-reverse();
            row-gap: 3rem;
        }

        .area__bottom-left {
            @include flex-row-center();
            column-gap: 2rem;

            .area__bottom-element {
                padding: 1.5rem 2.05rem;
                border: 0.1rem solid $clr-black;
                border-radius: $radius-small;
                -webkit-border-radius: $radius-small;
                -moz-border-radius: $radius-small;
                -ms-border-radius: $radius-small;
                -o-border-radius: $radius-small;

                transition: $transition-fast;
                -webkit-transition: $transition-fast;
                -moz-transition: $transition-fast;
                -ms-transition: $transition-fast;
                -o-transition: $transition-fast;

                color: $clr-black;
                font-size: $font-size-m;
                width: 5rem;
                height: 5rem;
                @include flex-aligning();

                &:hover {
                    transform: translateY(-0.5rem);
                    -webkit-transform: translateY(-0.5rem);
                    -moz-transform: translateY(-0.5rem);
                    -ms-transform: translateY(-0.5rem);
                    -o-transform: translateY(-0.5rem);
                }
            }

            @include respond-to('phone') {
                column-gap: 3.1rem;

                .area__bottom-element {

                    &:nth-child(3),
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }

        .area__bottom-right {
            @include flex-row-center();
            column-gap: 1rem;
            @include respond-to('phone') {
                @include flex-column();
                row-gap: 1rem;

                a {
                    @include flex-aligning();
                    width: 33.5rem;
                    text-wrap: nowrap;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .path {
        margin-bottom: $margin-regular;

        .path-list {
            @include flex-wrap();
            row-gap: 0.7rem;

            .path-item {
                .path-link {
                    font-size: $font-size-ss;
                }
            }
        }
    }

    .area {
        margin-bottom: $margin-xmedium;
        .area__title {
            margin-bottom: 4.3rem;
            .area__title-buttons {
                display: none;
            }
        }

        .area__grid-before {
            @include flex-row();
            margin-bottom: $margin-xsmall;
            h2 {
                color: $clr-black;
                font-size: $font-size-l;
                text-transform: uppercase;
            }

            .before-btn {
                cursor: pointer;
            }
        }
    }
}